<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Media Files</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
				<string>aif</string>
				<string>aiff</string>
				<string>mp3</string>
				<string>m4a</string>
				<string>caf</string>
				<string>flac</string>
				<string>mp4</string>
				<string>m4v</string>
				<string>mov</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.aiff-audio</string>
				<string>com.microsoft.waveform-audio</string>
				<string>public.mp3</string>
				<string>public.wav</string>
				<string>com.apple.coreaudio-format</string>
				<string>org.xiph.flac</string>
				<string>public.mpeg-4</string>
				<string>public.mp4</string>
				<string>public.movie</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
